<div class="player-info-list-float">

  <a href="/nba/player/<%= player.playerId %>"> <img class="player-list-avatar" src="http://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/<%= player.playerId %>.png"></a>

  <a href="/nba/player/<%= player.playerId %>" style="text-decoration:none;color:black;"> <h3 class="player-info-list-title">  <%= player.firstName %> <%= player.lastName %> </h3> </a>
  <hr/>



  <a href="/nba/player/<%= player.playerId %>" style="text-decoration:none;color:black;"><button type="submit" class="view-player">View Player</button></a>
<hr/>

</div>

<div class="clearfix"></div>
