<div class="player-info-list-float">

  <a href="/nba/player/<%= team.apiid %>"> <img class="custom-player-list-avatar" src="http://ak-static.cms.nba.com/wp-content/uploads/headshots/nba/latest/260x190/<%= team.apiid %>.png"></a>

  <a href="/nba/player/<%= team.apiid %>" style="text-decoration:none;"> <h3 class="player-info-list-title">  <%= team.firstname %> <%= team.lastname %> </h3> </a>
  <hr/>


    <p class="customteam-content">
      Points: <%= team.points %> <br/>
      Rebounds: <%= team.rebounds %> <br/>
      Assists: <%= team.assists %> <br/>
      Impact Rating: <%= ((team.impactrating)*100).toFixed(2) %>% <br/>
    </p>

    <p>
      <a href="/customTeams/removePlayer/<%= team.apiid %>">Remove from Team</a>
    </p>


  <!-- <a href="/nba/player/<%= team.apiid %>" style="text-decoration:none;color:black;"><button type="submit" class="view-player">View Player</button></a> -->
<hr/>

</div>

<div class="clearfix"></div>
