<!DOCTYPE html>
<link href="../../style.css" rel="stylesheet" type="text/css">


<% include ../partials/boilerplate %>

<% data.forEach(team => {  %>


<div class="pg-title-header">
    <h3>Custom Team:</h3>
    <h2> <%= team.customteamname %> </h2>
  </div>

  <hr/>



    <a href="/nba/player/<%= team.playerone %>"> <h3> Player 1: ID#<%= team.playerone %> </h3> </a>
    <a href="/nba/player/<%= team.playertwo %>"> <h3> Player 2: ID#<%= team.playertwo %> </h3> </a>
    <a href="/nba/player/<%= team.playerthree %>"> <h3> Player 3: ID#<%= team.playerthree %> </h3> </a>
    <a href="/nba/player/<%= team.playerfour %>"> <h3> Player 4: ID#<%= team.playerfour %> </h3> </a>
    <a href="/nba/player/<%= team.playerfive %>"> <h3> Player 5: ID#<%= team.playerfive %> </h3> </a>


  <% }); %>


<% include ../partials/end %>
